@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.contenedor__principal{
    height: 100%;
    width: 100vw;
    color: white;
    font-family: 'Roboto';
}
header{
    display: flex;
    background-color: #FFF159 ;
    height: 70px;
    align-items: center;
    justify-content: center;
}
#form__busqueda input{
    width: 375px;
    height: 45px;
    border: solid 2px black;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    padding-left: 10px;
}
#form__busqueda button{
   width: 122px;
   height: 45px;
   margin-left: 10px;
   border: solid 2px black;
   border-radius: 5px;
   font-weight: 700;
   font-size: 16px;
}
.contenedor__productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.contenedor__productos-li{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: 610px;
    height: 130px;
    border: solid 2px gray;
}
.contenedor__productos-li img{
    width: 128px;
    height: 100%;
}
.contenedor__informacion{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   margin-left: 20px;
}
.contenedor__informacion h3{
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*esto lo saque de stack overflow*/
    -webkit-line-clamp: 2;  /* Muestra solo 2 líneas */
    overflow: hidden;       /* Oculta el desbordamiento */
    text-overflow: ellipsis; /* Añade "..." al final del texto truncado */
    max-width: 300px;       /* Ajusta el ancho máximo según sea necesario */
    
}
.contenedor__informacion p{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0 10px 0;
    
}
.contenedor__productos span{
    padding: 10px;
    font-weight: 700;
    font-size: 28px;
    color: #5791A4;
    width: 50%;

}